:root {
    --primary-color: #2f1f14;
    --secondary-color: #dbbca1;
    --tertiary-color: #655546;
    --white-color: #fff;
    --black-color: #000;
    --dark-color: #1e1e1e;
    --green-accent-color: #0a424f;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--dark-color);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

/* Header */

header {
    display: flex;
    justify-content: start;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    gap: 100px;
    padding-left: 4em;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    box-sizing: border-box;
    max-width: 1200px;
    z-index: 1000;
}

header .header-logo {
    width: 140px;
    height: 140px;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
    background-color: var(--tertiary-color);
    border-radius: 5px;
}

header nav ul li {
    display: flex;
    align-items: center;
}

header nav ul li a {
    font-family: 'Inter', sans-serif;
    font-size: 0.9rem;
    font-weight: 700;
    text-decoration: none;
    color: var(--white-color);
    padding: 8px 12px;
    border-radius: 4px;
    transition: all 0.3s ease;
}

header nav ul li a.active {
    background-color: var(--white-color);
    color: var(--tertiary-color);
}

header nav ul li a:hover {
    background-color: var(--white-color);
    color: var(--tertiary-color);
}

/* Hero section */
.hero {
    width: 100%;
    height: 400px;
    background-color: var(--primary-color);
    background-image: url('./assets/hero-image.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 10em;
    color: var(--white-color);
}

.hero h1 {
    font-family: 'pompiere', sans-serif;
    font-size: 4.5rem;
    font-weight: normal;
    margin-top: 6rem;
}

.hero p {
    font-family: 'Galada', cursive;
    font-size: 1.3rem;
    font-weight: normal;
}

/* About section */
.about {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 40px 60px;
    background-color: var(--secondary-color);
}

.about .about-image {
    width: 500px;
    padding: 0;
}

.about .about-image img {
    width: 100%;
}

.about .about-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 750px;
}

.about .about-content h2 {
    font-family: 'poppins', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.about .about-content p.about-content-subheading {
    font-family: 'poppins', sans-serif;
    font-size: 1.5rem;
    margin-top: -10px;
}

.about .about-content .about-content-description {
    margin-top: 20px;
}

.about .about-content .about-content-description p {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 20px;
}

.about .about-content .btn-link {
    font-family: 'Inter', sans-serif;
    font-size: 0.9rem;
    color: var(--white-color);
    text-decoration: none;
    background-color: var(--primary-color);
    padding: 10px 30px;
    transition: all 0.3s ease;
}

/* Reviews */

.reviews {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 60px;
    background-color: var(--tertiary-color);
}

.reviews .reviews-heading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.reviews .reviews-heading h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--white-color);
}

/* Keyframes */
@keyframes wiggle {
    0%,
    7% {
        transform: rotateZ(0);
    }
    15% {
        transform: rotateZ(-15deg);
    }
    20% {
        transform: rotateZ(10deg);
    }
    25% {
        transform: rotateZ(-10deg);
    }
    30% {
        transform: rotateZ(6deg);
    }
    35% {
        transform: rotateZ(-4deg);
    }
    40%,
    100% {
        transform: rotateZ(0);
    }
}

.reviews .reviews-heading img {
    width: 60px;
    margin-left: 10px;
}

.reviews .reviews-heading img:hover {
    animation: wiggle 2s linear infinite;
}

.reviews .reviews-subtitle {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    color: var(--white-color);
}

.reviews .user-reviews {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}

.reviews .user-reviews .review {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-family: 'Poppins', sans-serif;
    width: 300px;
    padding: 15px;
    background-color: var(--secondary-color);
    border-radius: 5px;
    box-shadow: -40px -40px 100px 0px rgba(0, 0, 0, 0.25);
}

.reviews .user-reviews .review p {
    font-size: .8rem;
    text-align: center;
}

.reviews .user-reviews .review p:before,
.reviews .user-reviews .review p::after {
    content: '"';
}

.reviews .user-reviews .review span {
    font-size: .7rem;
    font-weight: 500;
    color: var(--green-accent-color);
}